<%= render "shared/auth_card", title: "Create new account", links: render("devise/shared/links") do %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.hidden_field :invite_code, value: resource.invite_code || params[:invite_code] %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "your@email.com" %>
    </div>
    <div class="mb-3">
      <%= f.label :password, class: "form-label" %>
      <% if @minimum_password_length %>
        <span class="form-label-description">(<%= @minimum_password_length %> characters minimum)</span>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Your password" %>
    </div>
    <div class="mb-3">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm password" %>
    </div>
    <div class="form-footer">
      <%= f.submit "Create new account", class: "btn btn-primary w-100" %>
    </div>
  <% end %>
<% end %>
