<%= render "shared/auth_card", title: "Change your password", links: render("devise/shared/links") do %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>
    <div class="mb-3">
      <%= f.label :password, "New password", class: "form-label" %>
      <% if @minimum_password_length %>
        <span class="form-label-description">(<%= @minimum_password_length %> characters minimum)</span>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "Your new password" %>
    </div>
    <div class="mb-3">
      <%= f.label :password_confirmation, "Confirm new password", class: "form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm new password" %>
    </div>
    <div class="form-footer">
      <%= f.submit "Change my password", class: "btn btn-primary w-100" %>
    </div>
  <% end %>
<% end %>
